/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import 'tailwindcss' source(none);
@source "../css";
@source "../js";
@source "../vue";
@source "../../lib/phx_vue_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

@theme {
  --color-accent: #ffdbb5;
  --color-accent-vibrant: #fcc286;
  --color-accent-secondary: #ebf7f5;
  --color-light: #fafafa;
  --color-dark: #3b3b3b;
  --color-dark-semi-muted: #6b6b6b;
  --color-dark-muted: #b4b4b4;
}

:root {
  --color-accent: #ffdbb5;
  --color-accent-vibrant: #fcc286;
  --color-light: #fafafa;
  --color-dark: #3b3b3b;
  --color-dark-semi-muted: #646464;
  --color-dark-muted: #b4b4b4;
}

#method-container {
  z-index: 1;
}

#method-container::before {
  content: '';
  position: absolute;
  background-color: black;
  opacity: 50%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
