<main class="w-full h-screen flex justify-center items-center">
  <span
    id="bg-blur"
    class="bg-black w-full h-full opacity-50 absolute z-10"
  ></span>
  <div
    class="w-300 min-h-200 px-6 py-5 bg-light rounded-lg flex flex-col z-20 gap-7"
  >
    <.vue v-component="MethodHeader" v-socket={@socket} tabs_state={@tabs_state}
    />
    <!-- -->
    <.vue v-component="MethodParser" v-socket={@socket} />
  </div>
</main>
